.menu {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translateX(-150%);
    transition: all  0.2s;
    z-index: 1000;
}

.menu.active {
    transform: translateX(0);
}

.blur {
    height: 100vh;
    width: 100vw;
    left: 50%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menuHeader {
    padding-top: 55px;
}

.menuContent {
    height: 100vh;
    width: 28%;
    background-color: #F3F6FF;
    -moz-border-radius-bottomright: 25%;
    -webkit-border-bottom-right-radius: 25%;
    border-bottom-right-radius: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all  0.4s;
    box-shadow: 12px 0 35px 10px rgba(209, 214, 220, 0.8);
    user-select: none;
    overflow-y: auto;

}

.menuContent::-webkit-scrollbar {
    height: 0px;
}


.closeMenu {
    top: -22px;
    left: 60px;
    width: 50px;
    height: 50px;
    background-color: #fff ;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(162, 162, 162);
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    
}

.closeMenu:hover {
    background-color: floralwhite;
}  

.lineMenu {
    height: 20px;
    width: 3px;
    border-radius: 2px;
    background-color: #383838;
    position: absolute;
    transition: all 0.5s;
}




/* .menuContent ul li a{
    text-decoration: none;
    color: black;
    
} */



.menuItemActive {
    color: #1D66FF;
    border-bottom: 3px solid #1D66FF;
}

.menuContent li {  
    list-style-type: none;
    font-size: 20px;
    margin: 2rem 2rem;
    cursor: pointer;
}

/* .firstLevelMenu li {
    cursor: pointer;
} */

.hide {
    display: none;
}
