.sentencesWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sentenceWrapper {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sentencesBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  margin: 0 3px;
}
.singleWord {
  pointer-events: none;
}

.draggableWord {
  position: relative;
  cursor: grab;
  font-size: 2rem;
  margin: 0 3px;
  box-sizing: border-box;
  /* box-shadow: 0 0 10px rgb(162, 162, 162); */
  /* border-radius: 7px; */
  padding: 5px 5px;
  /* background-color: rgb(217, 238, 252); */
}

.draggableWord p {
  margin: 0;
}

.imgFeedBack {
  margin-left: 24px;
  height: 30px;
}

@media screen and (max-width: 1370px) {
}
