.sentenceWrapper {
  /* border: 1px solid black; */
}

.sentenceWrapper {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleWord {
  pointer-events: none;
}

.draggableWord {
  position: relative;
  cursor: grab;
  font-size: 2rem;
  margin: 0 5px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgb(162, 162, 162);
  border-radius: 7px;
  padding: 5px 5px;
  background-color: rgb(197, 232, 255);
}

.draggableWord p {
  margin: 0;
}

@media screen and (max-width: 1370px) {
}
