.resetButton {
    background: transparent;
    color: #98A5BE;
    width: 180px;
    height: 65px;
    border-radius: 12px;
    border: 2px solid #98A5BE;
    padding: 15px 32px;
    /* text-align: center;
    text-decoration: none;
    display: inline-block; */
   
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    /* padding: 0 auto; */
   
}

.resetButton:hover {
    background: #E1EAFC;
    border: 2px solid #ffffff;

}

.resetBtn {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}