* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  user-select: none;
}

.appWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f9fbff;
}

.lessonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70vw;
  height: 70vh;
}
