.wellDoneParrot,
.tryAgainParrot {
  pointer-events: none;
}

.motivationParrot {
  overflow: hidden;
  z-index: 10000;
  position: absolute;
  top: 55vh;
  left: 84vw;
  width: 300px;
  height: 300px;
}

.motivationTextCloud {
  overflow: hidden;
  z-index: 10000;
  position: absolute;
  top: 38vh;
  left: 74vw;
  width: 270px;
  height: 270px;
}

@media screen and (max-width: 1370px) {
  .motivationParrot {
    top: 50vh;
    left: 78vw;
  }

  .motivationTextCloud {
    top: 31vh;
    left: 67vw;
  }
}
